[user]
	email = joshting25@gmail.com
	name = Josh Ting
[alias]
	a = add
	d = diff
	dw = diff --word-diff
	s = status
	co = checkout
	conf = config
	cfeg = config -e --global
	cp = cherry-pick
	br = branch
	brm = branch -m
	cm = commit
	cmam = commit -a -m
	f = fetch
	l = log
	ll = log --oneline --abbrev --graph --decorate
	m = merge
	psu = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)" # redundant because of autoSetupRemote
	r = reset
	rb = rebase
	sq = rebase -i HEAD~2
	rem = remote
	smu = submodule update --init --recursive
	st = stash
	sta = stash --include-untracked
	stp = stash pop
	standup = !git log --author=$USER --since='9am yesterday' --all --format=%s
	sw = switch
	which = !git branch | grep -i
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = true
