[user]
	email = joshting25@gmail.com
	name = Josh Ting
[alias]
	a = add
	d = diff
	s = status
	co = checkout
	con = config
	br = branch
	cm = commit
	l = log
	m = merge
	ll = log --oneline --abbrev --graph --decorate
	r = reset
	rem = remote
	smu = submodule update
	st = stash
	sta = stash --include-untracked
	standup = !git log --author=$USER --since='9am yesterday' --all --format=%s
	which = !git branch | grep -i
