[user]
	email = joshting25@gmail.com
	name = Josh Ting
[alias]
	a = add
	d = diff
	dw = diff --word-diff
	s = status
	co = checkout
	conf = config
	con = config
	cp = cherry-pick
	br = branch
	cm = commit
	cmam = commit -a -m
	f = fetch
	l = log
	m = merge
	ll = log --oneline --abbrev --graph --decorate
	r = reset
	rb = rebase
	rem = remote
	smu = submodule update --init --recursive
	st = stash
	sta = stash --include-untracked
	stp = stash pop
	standup = !git log --author=$USER --since='9am yesterday' --all --format=%s
	which = !git branch | grep -i
